.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.git/
.gitignore
.ruff_cache/
.DS_Store
*.log
.env
.idea/
.vscode/
*.swp
*.swo
staticfiles/
www/media/
